/* This file is for your main application css. */

/*
 * Basic styling for elixircasts.io screencasts
 */

 body {
  font-family: 'Open Sans', sans-serif;
  background: #183d44;
  font-size: 14px;
  line-height: 22px;
  overflow-x: hidden;
}

::selection{
  background-color: #FFEC6E;
  color: #000;
}

::-moz-selection {
  background: #46c2ca;
  color: #000;
}

.container {
	width: 50%;
	height: 100%;
	background-color: rgb(226, 255, 248);
	margin: 60px auto;
  border-radius: 20px;
  padding-bottom: 20px;
}

#header{
  background: rgb(42, 194, 136);
  padding: 20px;
  border-radius: 20px 20px 0 0 ;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #CCC;
}

a {
  color: rgb(0, 0, 238);
  text-decoration: underline;
}

.alert:empty {
  display:none;
}

p.alert.alert-info {
  padding: 7px;
  background: #DFF0D8;
}

p.alert.alert-danger {
  padding: 7px;
  background: #F2DEDE;
}

.flash-notice {
  padding: 7px;
  background: #D9EDF7;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

#chat-box {
  padding: 10px 0 0 30px;
  min-height: 270px;
  max-height: 325px;
  overflow: scroll;
}

#chat-form {
  padding-inline: 40px;
  width:100%;
}

#button-submit{
  color: rgb(242, 255, 249);
  padding: 10px 30px 10px 30px;
  background-color: #00b158;
  border: none;
  border-radius: 7px;
  margin-top: 40px;
}


#user-name {
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(109, 233, 171);
  color: #0c7740;
}

#user-name::placeholder{
  color: #0c7740;
}

#user-msg {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  border: none;
  background-color: #a2ffd1;
  color: #06703b;
}

#user-msg::placeholder{
  color: #06703b;
}

.nav-header {
  position: relative;
  width: 100%;
}

.nav-h1 {
  float: left;
  clear:none;
}

.nav-header .nav-link {
  float: right;
  margin: -40px 10px 10px 10px;
}

.nav-header .nav-link a {
  margin-left: 5px;
}

.elixircasts-form {
  margin-bottom: 10px;
}

.elixircasts-form label {
    display: block;
    margin: 0px 0px 5px;
}

.elixircasts-form input[type="text"], .elixircasts-form input[type="email"], .elixircasts-form textarea, .elixircasts-form select{
    border: 1px solid #000;
    color: #000;
    font-size: 14px;
    height: 20px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
}

.elixircasts-form .help-block {
  background: #F2DEDE;
}

.elixircasts-form select {
    height: 35px;
}
.elixircasts-form textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
}